  body 
  {
    font-family: Arial, sans-serif;
    background: url('/img/jeremy-thomas-E0AHdsENmDg-unsplash.jpg');
    background-size: cover; /* ou contain, ou une taille personnalisée */
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
  }
  .gradient-div {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  nav 
  {
    
  }
  
  nav ul 
  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  nav ul li {
    float: left;
  }
  
  nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  nav ul li a:hover {
    background-color: #111;
  }

  h1
  {
    margin: 0;
    text-align: center;
  }

  h2
  {
    text-align: center;
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .titre
  {
    height: 200px;
  }
  
.card {
  width: 1400px;
  height: 800px;
  background-color: #ffffff;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 100px;
  border: 1px solid #000;
  border-radius: 15px;
  align-items: center;
}


.card:hover {
  transform: scale(1.01);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.icon-zone {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

/* Modal cachée par défaut */
.modal {
  display: none; /* Cachée par défaut */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Fond semi-transparent */
  z-index: 1000;
  align-items: center;
  justify-content: center;
}

/* Contenu de la modal */
.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 700px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

/* Bouton de fermeture */
.close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}
.icon {
  margin: 0 5px;
  width: 10%;
  height: auto;
}

.icon-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.iconF {
  margin: 0 5px;
  width: 5%;
  height: auto;
}

.image-zone {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5%;
}

.image-zone img {
  width: 400px;
  height: 200px;
  object-fit: cover;
  margin: 5px;
}

p {
  display: flex;
  justify-content: center;
  text-align: justify;
  margin: 0;
}

.p_a_propos{
  padding-left: 5%;
  padding-right: 5%;
  text-align: justify;
  color: white;
}

.cont{
  height: 344px;
  padding-bottom: 2%;
}
.container {
  width: 80%;
  margin: 0 auto;
}

footer {  
  color: #fff;
  padding: 20px 0;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer p {
  margin: 0;
}

footer nav ul {
  list-style: none;
  padding: 0;
}

footer nav ul li {
  display: inline;
  margin-right: 20px;
}

footer nav ul li a {
  color: #fff;
  text-decoration: none;
}

#portfolio {
  width: 80%;
  margin: 50px auto;
}

.filter-select {
  text-align: center;
  margin-bottom: 20px;
}

#category-filter {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #007BFF;
}

.category {
  margin-bottom: 40px;
}

.category h2 {
  font-size: 1.5em;
  color: #007BFF;
  border-bottom: 2px solid #007BFF;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.projects {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.project-card {
  background-color: white;
  width: calc(30% - 20px);
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s;
  margin: 10px;
}

.project-card:hover {
  transform: scale(1.05);
}

.project-card h3 {
  margin-top: 10px;
  font-size: 1.2em;
  color: #333;
}

@media screen and (max-width: 768px) {
  nav ul {
    display: flex;
    flex-direction: column;
  }
  
  nav ul li {
    float: none;
    width: 100%;
  }
  .carousel {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .card {
    width: 90%;
    max-width: none; 
  }

  .icon-zone {
    flex-direction: column; 
  }

  .icon {
    margin: 5px 0; 
  }

  .image-zone img {
    width: 80px; 
    height: 80px;
  }
}

@media screen and (max-width: 576px) {
  .prev, .next {
    font-size: 12px;
    padding: 5px;
  }
}